@import "../../../../../static/assets/sass/include/_config.sass"
@import "../../../../../static/assets/sass/include/_base.sass"
.aboutus
	background: #fff
	+flex-center(center)

	.main-title
		@extend %main-title

	&__description
		font: 300 30px/100% $font
		+font-s()
		color: $black-font
		line-height: 1.33
		margin: 10px 0
		text-align: center

	&__wrapper
		max-width: 1300px
		margin: 20px auto
		.raw
			width: 100%
			display: flex
			justify-content: center
			height: 35vh
		.cols-1
			-webkit-box-sizing: border-box!important
			-moz-box-sizing: border-box!important
			box-sizing: border-box!important
			border: 3px solid $news
		.cols-2
			background: url('/local/static/assets/img/about/1.png') no-repeat center
			-webkit-background-size: cover
			background-size: cover
		.cols-3
			background: url('/local/static/assets/img/about/2.png') no-repeat center
			-webkit-background-size: cover
			background-size: cover
		.cols-4
			background: url('/local/static/assets/img/about/3.png') no-repeat center
			-webkit-background-size: cover
			background-size: cover
		.cols-5
			background: url('/local/static/assets/img/about/4.png') no-repeat center
			-webkit-background-size: cover
			background-size: cover

		.cols-2, .cols-3, .cols-4, .cols-5
			width: 20vw
			+flex-center(center)
			+font-s()
			color: #fff
			font: bold 24px/100% $font
			text-align: center
			p
				line-height: 1.33

		.cols-1, .cols-6
			width: 40vw
			+flex-center(center)
			align-items: flex-start
			justify-items: center
			background: $primary
			.info
				padding: 20px
			h4
				font: bold 60px/100% $font
				color: #fff
				line-height: 0.67
				+font-s()
				margin: 0
			p
				font: 300 26px/100% $font
				+font-s()
				line-height: 1.54
				color: #fff
				margin: 30px 0



	+max-width($sm-desktop)
		&__wrapper
			width: 95vw
		.cols-2, .cols-3, .cols-4, .cols-5
			width: 25vw
		.cols-1, .cols-6
			width: 50vw


	+max-width($tablet)

		&__description
			font: 300 24px/100 $font
			line-height: 1.42
			width: 90vw
			br
				display: none

		&__wrapper
			width: 95vw
			.raw
				width: 100%
				height: 70vh
				flex-flow: row wrap
			.cols-1
				order: 1
			.cols-2
				order: 2
			.cols-3
				order: 3
			.cols-6
				order: 4
			.cols-4
				order: 5
			.cols-5
				order: 6

			.cols-1, .cols-6
				width: 100%
				height: 35vh
				p
					font: 300 30px/100% $font
			.cols-2, .cols-3, .cols-4, .cols-5
				width: 50%
				height: 35vh
			.cols-6
				order: 4



	+max-width($sm-mobile)
		&__description
			font: 300 20px/130% $font
		&__wrapper
			width: 95vw
			.raw
				height: 45vh
				+max-height(569px)
					height: 75vh
					.cols-1, .cols-6, .cols-2, .cols-3, .cols-4, .cols-5
						height: 40vh

			.cols-1, .cols-6
				height: 25vh
				.info
					padding: 20px 20px 0
					br
						display: none
				h4
					font: bold 42px/95% $font
				p
					font: 300 18px/133% $font
			.cols-2, .cols-3, .cols-4, .cols-5
				height: 20vh
				p
					font: 300 18px/133% $font
