@charset "UTF-8"

body
	overflow-x: hidden
	height: 100%
*
	outline: none
	-webkit-box-sizing: initial!important
	-moz-box-sizing: initial
	box-sizing: initial

a, input, button, textarea, *:before, *:after, *:hover, *:active, *:focus
	outline: none
a
	color: $primary
	text-decoration: none!important
	transition: color .3s ease, opacity .3s ease, border .3s ease, background .3s ease
	display: inline-block
	&:hover, &:active, &:focus
		color: $primary !important
		text-decoration: none
ul
	margin: 1em 0!important

.button--send
	&:hover
		.first-banner__send-button, .section-invite__send-button, .timeline__send-button
			background: $primary
			color: #fff
			-webkit-transition: all .5s
			-moz-transition: all .5s
			-ms-transition: all .5s
			-o-transition: all .5s
			transition: all .5s

@mixin font-s
	font-style: normal
	font-stretch: condensed
	letter-spacing: normal

%send-button
	border: 2px solid $primary
	text-align: center
	text-transform: uppercase
	font-size: 24px
	font-weight: 300
	font-family: $font
	-webkit-border-radius: 40px
	-moz-border-radius: 40px
	border-radius: 40px
	width: 310px
	background: #fff
	margin: 22px 0
	padding: 0.5em
	a
		font-family: $font
		color: $primary
		font-weight: 300
		font-size: 22px
		text-transform: uppercase
	+max-width($sm-mobile)
		width: 70vw


%main-title
	font-family: $font
	font-weight: bold
	font-stretch: condensed
	font-style: normal
	letter-spacing: normal
	line-height: 1.5
	font-size: 60px
	color: $black-font
	text-transform: uppercase
	text-align: center
	margin-bottom: 20px
	margin-top: 40px
	+max-width($tablet)
		font: bold 52px/173% $font
		margin-top: 30px
	+max-width($sm-mobile)
		font: bold 30px/113% $font
		margin: 20px 0 10px 0!important

@mixin flex-center($center)
	display: flex
	justify-content: $center
	align-items: $center
	flex-direction: column

@mixin status($color)
		+flex-center(center)
		padding: 0 6em
		justify-content: space-around
		position: relative
		h4
			font: bold 24px/100% $font
			margin: 50px 0 0
			padding: 0
			color: $color
		span
			font: 300 16px/100% $font
			line-height: 2.13
			text-transform: uppercase
			color: $color
			+max-width($tablet)
				font: 300 14px/100% $font
				line-height: 2.43
				text-align: center
		.point
			width: 20px
			height: 20px
			background-color: $color
			border-radius: 25px
			position: absolute
			top: -13px
			z-index: 5

		+max-width($tablet)
			padding: 0 1.5em
			h4
				font: bold 20px/170% $font

		+max-width($mobile)
			padding: 0
			h4
				font: bold 20px/170% $font
			span
				font: 300 14px/243% $font
			.point
				top: initial
				left: -12px