// Шрифт
$font: 'Noto Sans Display', sans-serif

// Цвета
$black-font: #2e2e2e
$primary: #004f9e
$news: #2c6cab

// Экраны
// ======
$desktop: 1920px
$sm-desktop: 1200px
$tablet: 991px
$mobile: 767px
$sm-mobile: 575px

@mixin clearfix
	&:after
		content: ''
		display: table
		clear: both

@mixin max-width($width)
	@media only screen and (max-width: $width)
		@content

@mixin min-width($width)
	@media only screen and (min-width: $width)
		@content


@mixin max-height($height)
	@media only screen and (max-height: $height)
		@content

@mixin min-height($height)
	@media only screen and (min-height: $height)
		@content

@mixin between-width($width1, $width2)
	@media only screen and (min-width: $width1) and (max-width: $width2)
		@content
