@import "../../../../../static/assets/sass/include/_config.sass"
@import "../../../../../static/assets/sass/include/_base.sass"
.section-prize
	background-color: #f9f9f9
	+flex-center(center)

	&__wrapper
		max-width: 1300px
		margin: 0 auto
		padding: 30px 0
		+flex-center(center)
		flex-direction: row
		
	&__description
		margin-left: 1.5em
		h3
			font: bold 40px/100% $font
			color: $black-font
			line-height: 1.1
			+font-s()
			margin: 10px 0
			text-transform: uppercase
		.contract
			font: bold 50px/100% $font
			color: $primary
			line-height: 1.2
			+font-s()
			margin: 0
			text-transform: uppercase
		.money, .mobile
			display: none
		p
			strong
				color: $primary
			font: 300 30px/147% $font
			+font-s()
			margin: 10px 0
			color: $black-font

	+max-width($sm-desktop)
		&__wrapper
			width: 90vw
		&__description
			.contract
				font: bold 40px/100% $font
			p
				font: 300 24px/147% $font

	+max-width($tablet)
		&__img
			img
				width: 45vw
		&__wrapper
			width: 95vw

		&__description
			h3
				font: bold 28px/100% $font
				line-height: 1.07
			.contract
				display: none
			.money
				display: flex
				font: bold 90px/100% $font
				color: $primary
			p
				font: 300 20px/100% $font
				line-height: 1.5
				strong
					font-weight: bold

	+max-width($sm-mobile)

		&__img
			img
				width: 80vw
		&__wrapper
			flex-direction: column
		&__description
			+flex-center(center)
			margin-left: 0
			p, br
				display: none
			.money
				font: bold 80px/100% $font
			.mobile
				display: block
				width: 80vw


