@import "../../../../../static/assets/sass/include/_config.sass"
@import "../../../../../static/assets/sass/include/_base.sass"
.news
	border-bottom: 1px solid #e3e3e3
	padding-bottom: 30px
	+flex-center(center)
	.main-title
		@extend %main-title

	&__wrapper
		max-width: 1600px
		margin: 0 auto
		+flex-center(center)
		flex-direction: row

		&__card
			img
				object-fit: contain
			.news-title
				color: $news
				font: 500 16px/100% $font
				+font-s()
				line-height: 1.63
				margin: 10px 0

			.news-description
				margin: 5px 0
				color: $black-font
				+font-s()
				font: 300 18px/100% $font
				line-height: 1.44

		.arrow-left
			background: url(/local/static/assets/img/news/group-47-copy.svg) no-repeat center
			width: 40%
			height: 40px
		.arrow-right
			background: url(/local/static/assets/img/news/group-47.svg) no-repeat center
			width: 40%
			height: 40px


	.slick-slider
		display: inline-flex!important
	.slick-slide
		margin: 0 10px
		img
			width: 100%
	.modal-dialog-centered
		width: 50vw
		max-width: 50vw

	.modal-title
		font: bold 36px/117% $font
		color: $black-font
		padding: 5px
	.modal-header
		padding: 30px 30px 0
		border: none
		.close:not(:disabled):not(.disabled):hover
			opacity: 1
			outline: none
		.close
			background: url(/local/static/assets/img/group-50.svg) no-repeat center
			padding: 3rem
			margin: -6rem -6rem -2rem auto
			opacity: 1
			outline: none
			span
				display: none

	[data-simplebar]
		width: initial
		height: initial
	.simplebar-scrollbar:before
		background-color: #d3dae0

	.modal-body
		height: 400px
		padding: 30px
		.description-0
			.info-item:first-child
				margin-right: 50px
			.info-item:first-child, .info-item:nth-child(2)
				display: inline-flex

			.info-item
				img
					margin-right: 5px
				font: 400 20px/140% $font
		.description-1
			margin: 20px 0
			color: $black-font
			font: 400 20px/140% $font
		.description-2
			img
				float: left
				margin-right: 20px
			font: 300 18px/144% $font
			color: $black-font


	+max-width($sm-desktop)
		.slick-slider
			flex-flow: row wrap
		.arrow-left, .arrow-right
			width: 40px
			order: 1
			margin: 0 15px
		&__wrapper
			width: 95vw
			&__card
				margin: 40px 10px

	+max-width($tablet)
		.modal-dialog
			margin: 0 auto
		.modal-dialog-centered
			width: 85vw
			max-width: 85vw



