@import "../../../../../static/assets/sass/include/_config.sass"
@import "../../../../../static/assets/sass/include/_base.sass"
.experts
	background: #fff
	+flex-center(center)
	padding-bottom: 60px
	border-bottom: 1px solid #e3e3e3
	.main-title
		@extend %main-title

	&__wrapper
		max-width: 1300px
		margin: 0 auto
		+flex-center(center)
		flex-flow: row wrap
		align-items: stretch

		&__card
			flex-basis: 30%
			margin: 50px 0
			+flex-center(center)
			justify-content: flex-start
			img
				margin-bottom: 20px
			.experts-title
				font: bold 24px/100% $font
				+font-s()
				line-height: 1.08
				color: $black-font
				text-align: center
				margin: 10px 0
			.experts-description
				color: $black-font
				+font-s()
				line-height: 24px
				text-align: center
				font: 300 24px/100% $font
	+max-width($sm-desktop)
		.experts-description
			br
				display:  none
	+max-width($tablet)
		display: none
