@import "../../../../../static/assets/sass/include/_config.sass"
@import "../../../../../static/assets/sass/include/_base.sass"
.demands
	background: #F9F9F9
	+flex-center(center)
	padding: 20px 0 40px
	.main-title
		@extend %main-title
		margin-bottom: 0

	&__wrapper
		margin: 40px 0
		+flex-center(center)
		flex-direction: row
		align-items: flex-start
		&__item
			width: 50%
			display: flex
			align-items: flex-start
			.description
				margin-left: 1.5em
				h4, span
					color: $black-font
					+font-s()
					line-height: 1.42
				h4
					margin: 0
					padding-bottom: 10px
					font: bold 24px/100% $font
				span
					margin-top: 10px
					font: 300 24px/100% $font


	+max-width($tablet)
		&__wrapper
			width: 100vw
			display: flex
			align-items: baseline
			margin: 20px 0
			&__item
				+flex-center(center)
				align-items: center!important
				margin: 0 20px
				.description
					margin-top: 25px
					text-align: center
					margin-left: 0
					h4, span
						font-size: 20px
						line-height: 1.5
			&__item:first-child
				img
					width: 8vw

	+between-width($sm-mobile, $mobile)
		height: auto!important
		&__wrapper
			margin: 0

	+max-width($sm-mobile)
		.main-title
			text-align: center
			width: 80%
		&__wrapper
			flex-flow: column nowrap
			align-items: inherit
			&__item
				width: 90vw
				margin: 20px
				.description
					h4
						font: bold 18px/133% $font
					span
						font: 300 18px/133% $font
			&__item:first-child
				img
					width: initial