@import "../../../../../static/assets/sass/include/_config.sass"
@import "../../../../../static/assets/sass/include/_base.sass"
.contacts
	max-width: 1920px
	background: #fff
	border-bottom: 10px solid $primary
	display: flex
	align-items: flex-end
	margin: 0 auto
	.main-title
		@extend %main-title
		margin: 0 0 10px
	&__main
		display: flex
		flex-flow: row nowrap
		width: 100%
		position: relative
		&:before
			content: ''
			position: absolute
			background: url(/local/static/assets/img/page-1-copy-5.svg) no-repeat 50% 50%
			-webkit-background-size: cover
			background-size: cover
			width: 406px
			height: 300px
			right: 10px
			bottom: 0
	&__wrapper
		display: flex
		align-items: flex-start
		flex-flow: column nowrap
		width: 30vw
		margin-top: 50px
		margin-left: 30px
		.address, .phone, .fax, .email, .socials
			display: flex
			flex-flow: column nowrap
			margin: 10px 0
			span
				margin: 10px 0
				width: 100%
				color: #a5a5a5
				+font-s()
				line-height: 2.13
				font: 300 16px/100% $font

		.address, .phone, .fax, .email
			color: $black-font
			+font-s()
			line-height: 1.42

		.address
			font: 300 24px/100% $font
		.phone, .fax
			font: bold 24px/100% $font
		.email
			font: 300 24px/100% $font
			a
				text-decoration: underline!important
				color: #198bd8
				margin: 10px 0
			p
				padding: 0
				margin: 0
		.socials
			.icons
				img
					margin-right: 10px


	&__map-wrapper
		position: relative
		width: 45%
	&__map
		mask: url(/local/static/assets/img/mask-for-map.svg) top right / cover
		left: 0
		width: 100%
		max-height: 100%
		height: 780px
		object-fit: contain
		overflow: hidden
		.ymaps-2-1-72-svg-icon
			background: url(/local/static/assets/img/mark.svg) no-repeat center
			-webkit-background-size: cover
			background-size: cover
			width: 74px !important
			height: 91px !important
			left: -40px !important
			top: -100px !important
		.ymaps-2-1-72-searchbox, .ymaps-2-1-72-zoom, .ymaps-2-1-72-float-button-text
			display: none
		.ymaps_https___api_maps_yandex_ru_2_1_72_1141255383709islands_icon___1E98FF_34x41_1545905126436
			background-image: url(/local/static/assets/img/mark.svg) !important


	&__copyright
		font: 300 12px/100% $font
		+font-s()
		color: $black-font
		width: 30vw
		bottom: 15px
		position: absolute
		&:before
			content: '*'
			position: absolute
			left: -15px
			color: #2e2e2e
			font: 300 12px/150% $font

	+max-width(1300px)
		&__wrapper
			width: 50vw
		&__map-wrapper
			margin-left: -160px


	+max-width($tablet)
		&__main
			flex-flow: column nowrap
			&:before
				display: none

		.main-title
			margin: 0
			align-self: center
		&__map-wrapper
			order: 4
			width: 100%
			position: relative
			margin: 0
		&__map
			display: flex
			position: relative
			mask: none
			order: 4
			height: 50vh
			margin-top: 10px
		&__wrapper
			margin: 0 auto
			width: 95vw
			&:before
				content: ''
				position: absolute
				background: url(/local/static/assets/img/page-1-copy-5.svg) no-repeat 50% 50%
				-webkit-background-size: cover
				background-size: cover
				width: 235px
				height: 174px
				right: 20px
				bottom: 0
				margin-bottom: 50vh
		&__copyright
			position: relative
			margin: 0
			margin-top: 4vh
			line-height: 1.67
			width: 60vw

	+max-width($sm-mobile)
		&__main
			margin: 30px 0 0
		.main-title
			margin: 0!important
		.address, .phone, .fax, .email, .socials
			font: 300 16px/150% $font
			span
				font: 300 14px/143% $font
				margin: 0
		.phone, .fax
			font-weight: bold
		.socials
			span
				margin-bottom: 10px

		&__wrapper
			&:before
				width: 100px
				height: 74px
				right: 0
				bottom: 0
				margin-bottom: 70vh
		&__copyright
			display: none
		&__map
			display: flex
			position: relative
			mask: none
			order: 4
			height: 70vh
			margin-top: 10px