@import "../../../../../static/assets/sass/include/_config.sass"
@import "../../../../../static/assets/sass/include/_base.sass"
.posibilities
	background: #fff
	border-bottom: 1px solid #e3e3e3
	+flex-center(center)
	.main-title
		@extend %main-title

	&__wrapper
		padding-bottom: 50px
		+flex-center(center)
		flex-direction: row
		align-items: flex-start
		margin-top: 5vh
		&__card
			margin: 0 50px
			+flex-center(center)
			.description
				p:last-child
					display: none
				margin: 20px 0
				font: 300 22px/136% $font
				+font-s()
				text-align: center
				color: $black-font

	+between-width($sm-mobile, $mobile)
		&__wrapper
			&__card
				flex-basis: 47%

	+max-width($tablet)
		.main-title
			width: 90%
			text-align: center
			margin-bottom: 30px
		&__wrapper
			width: 95vw
			margin-top: 0
			display: flex
			flex-flow: row wrap
			&__card
				display: flex
				align-items: center
				justify-content: flex-start
				flex-basis: 45%
				flex-direction: row
				margin: 0 20px 0 0
				.description
					br
						display: none
					font: 300 20px/150% $font
					margin-left: 15px
					text-align: left
					p:last-child
						display: flex
					p:first-child
						display: none
			&__card:nth-child(3)
				order: 4

	+max-width($sm-mobile)
		.main-title
			width: 95%
		&__wrapper
			justify-content: flex-start
			&__card
				margin: 10px
				flex-basis: 85%
				img
					width: 30%
				.description
					br
						display: none
					font: 300 18px/144% $font