@import "../../../../../static/assets/sass/include/_config.sass"
@import "../../../../../static/assets/sass/include/_base.sass"
.program
	background: #f9f9f9
	+flex-center(center)
	.main-title
		@extend %main-title
	&__wrapper
		max-width: 1300px
		margin: 0 auto
		display: flex
		flex-flow: row wrap
		justify-content: center
		padding-bottom: 50px
		&__item
			flex-basis: 30%
			background: #fff
			box-shadow: 0 2px 10px 0 rgba(241, 241, 241, 0.5)
			height: 190px
			display: inline-flex
			position: relative
			margin-bottom: 30px
			margin-right: 20px
			.ribbon
				height: 50px
				line-height: 50px
				padding-left: 15px
				position: absolute
				display: flex
				align-items: center
				left: -8px
				top: 20px
				background: #2c6cab

				span
					color: #ffffff
					font: bold 24px/100% $font
					+font-s()
					line-height: 1.42
					padding-right: 1em

			.ribbon:before, .ribbon:after
				content: ""
				position: absolute

			.ribbon:before
				height: 0
				width: 0
				top: -8.5px
				left: 0.1px
				border-bottom: 9px solid #15324e
				border-left: 9px solid transparent

			.ribbon:after
				height: 0
				width: 0
				top: 0
				right: -14px
				border-bottom: 50px solid transparent
				border-left: 14px solid #2c6cab

			p
				font: 300 18px/140% $font
				+font-s()
				color: $black-font
				padding: 20px
				width: 100%
				margin: 0
				margin-top: 15%

		&__item:last-child
			margin-left: 55px

	+max-width($sm-desktop)
		&__wrapper
			width: 90vw
		.ribbon
			span
				font: 700 16px/100% $font
		.program__wrapper__item
			p
				font: 300 16px/140% $font
				margin-top: 20%


	+max-width($tablet)
		&__wrapper
			width: 95vw
			display: flex
			justify-content: flex-start
			&__item
				flex-basis: 44%
				margin-right: 30px
				margin-bottom: 20px
				br
					display: none
				.ribbon
					span
						font: bold 20px/170% $font
				p
					font: 300 18px/156% $font
					padding: 19px
			&__item:last-child
				margin-left: 0

	+between-width($sm-mobile, $mobile)
		&__wrapper
			&__item
				flex-basis: 44% !important
				margin-right: 15px
				.ribbon
					span
						font: bold 16px/100% $font
				p
					font: 300 14px/156% $font!important
					margin-top: 25% !important

	+max-width($sm-mobile)
		.main-title
			text-align: center
			margin: 30px 0!important
		&__wrapper
			display: flex
			justify-content: center
			&__item
				flex-basis: 95%
				margin-right: 0
				.ribbon
					span
						font: bold 18px/133% $font
				p
					font: 300 16px/138% $font
					margin-top: 20%
					align-self: center
