@import "../../../../../static/assets/sass/include/_config.sass"
@import "../../../../../static/assets/sass/include/_base.sass"
.first-banner
	display: flex
	+flex-center(center)
	justify-content: flex-start
	h1
		color: $primary
		text-transform: uppercase
		font: 800 90px/100% $font
		+font-s()
		margin: 0
	&__wrapper
		z-index: 5
		min-width: 300px
		max-width: 1300px
		margin: 0 auto
		padding: 0 10px 30px

	.left-block
		+flex-center(center)
		align-items: flex-start
		padding: 12% 0 0

	.green-line
		width: 35%
		height: 8px
		background: #89c447
		margin: 22px 0 0
		-webkit-clip-path: polygon(0 0, 100% 0, 98% 100%, 0% 100%)
		clip-path: polygon(0 0, 100% 0, 98% 100%, 0% 100%)


	&__description
		font: 300 27px/137% $font
		+font-s()
		color: $black-font
		margin: 20px 0
		width: 40%

	&__description:last-child
		font-size: 24px
		width: 36%

	&__send-button
		@extend %send-button

	.bitmap-image
		position: absolute
		right: 0
		top: 0
		z-index: 1
		img
			width: 55vw

	+max-width($sm-desktop)
		.send-button
			aling-self: flex-start
		.left-block
			margin: 0
			width: initial
			margin-top: 15%
			padding: 0 20px
		&__description, &__description:last-child
			width: 60%
		h1
			font: 800 72px/100% $font




	+max-width($tablet)

		.send-button
			aling-self: flex-start
		.left-block
			width: 95vw
			margin: 30vw 0
			z-index: 1001
			h1
				font: 900 72px/100% $font
		.green-line
			width: 50%
		&__description
			font: 300 24px/142% $font
			width: 100% !important
			br
				display: none
			strong
				font-weight: bold
		.bitmap-image
			img
				width: 65vw


	+max-width($sm-mobile)
		min-height: 100vh
		.send-button
			width: 75vw
			aling-self: center
		.bitmap-image
			top: 20px
			right: initial
			img
				width: 120vw
		.left-block
			margin: 0
			padding: 80vw 0 0
			h1
				font: 900 50px/114% $font
			&__description
				font: 300 20px/130% $font
		&__description:first-child
			margin-bottom: 0
		.green-line
			width: 80%

