@import "../../../../../static/assets/sass/include/_config.sass"
@import "../../../../../static/assets/sass/include/_base.sass"
.directions
	background-color: $primary
	+flex-center(center)

	&__wrapper
		padding: 20px 0 40px
		max-width: 1300px
		margin: 0 auto
		+flex-center(center)

	.title-wrapper
		+flex-center(center)
		margin-bottom: 1em

	&__description
		margin: 0
		color: #f9f9f9
		line-height: 1.33
		font: 300 30px/100% $font
		+font-s()
		text-align: center

	.main-title
		@extend %main-title
		color: #fff!important
		margin: 0

	&__card-wrapper
		display: flex
		flex-flow: row wrap
		align-items: stretch
		justify-content: center

	&__card
		flex-basis: 30%
		margin: 1em

		h4, li
			color: #fff
			+font-s()

		h4
			font: 300 24px/142% $font
			margin: 0

		li
			font: 300 20px/160% $font

		ul
			list-style-image: url('/local/static/assets/img/bullet-arrow.svg')
			padding: 0 1.5em


	&__card:last-child
		flex-basis: 40%

	&__card:nth-child(4)
		margin-left: 5vw

	+max-width(1024px)
		&__card
			flex-basis: 40%
	+max-width($tablet)
		img
			margin-bottom: 13px
		&__wrapper
			width: 100vw
		&__description
			font: 300 24px/142% $font
		&__card-wrapper
			justify-content: flex-start
		&__card
			flex-basis: 43%
			margin: 25px 20px
			strong
				font-weight: bold
			h4
				font: 300 20px/150% $font
			li
				font: 300 18px/133% $font

	+between-width($sm-mobile, $mobile)
		.main-title
			font: bold 50px/100% $font
		&__card
			margin: 25px 10px
			flex-basis: 44%

	+max-width($sm-mobile)
		&__wrapper
			width: 90vw
		.main-title
			text-align: center
		&__description
			font: 300 20px/130% $font
			br
				display: none
		&__card, &__card:nth-child(4), &__card:last-child
			flex-basis: 100%
			margin: 20px 0

			h4
				font: 300 18px/133% $font
			li
				font: 300 16px/138% $font
