@import "../../../../../static/assets/sass/include/_config.sass"
@import "../../../../../static/assets/sass/include/_base.sass"

.section-invite
	+flex-center(center)
	background: #fff
	padding: 20px 0 40px
	h3
		width: 50vw
		text-align: center
		color: $black-font
		font: bold 30px/133% $font
		margin: 10px 0
		+font-s()
	p
		font: 300 24px/167% $font
		+font-s()
		text-align: center
		color: $black-font
		width: 60vw
		margin: 0 0 30px

	&__wrapper
		max-width: 1300px
		margin: 0 auto
		+flex-center(center)

	&__send-button
		@extend %send-button
		a
			color: $primary

	+max-width($tablet)
		&__wrapper
			width: 95vw
		h3
			font: bold 24px/142% $font
			width: 90%
		p
			font: 300 20px/150% $font
			width: 90%
		br
			display: none

	+max-width($mobile)
		&__wrapper
			width: 98vw
		h3
			font: bold 24px/130% $font
			width: 100%
		p
			font: 300 24px/130% $font
			margin: 0


