@import "../../../../../static/assets/sass/include/_config.sass"
@import "../../../../../static/assets/sass/include/_base.sass"
@import "../../../../../static/assets/sass/include/_burger.sass"

.header-menu
	width: 100vw
	margin: 0 auto
	display: flex
	align-items: center
	justify-content: center
	-webkit-box-pack: justify
	-webkit-box-align: center
	background-color: rgba(255,255,255,0.7)
	height: 90px
	position: fixed
	z-index: 100
	&__inner
		display: inline-flex
		justify-content: space-between
		align-items: center
		flex-direction: row
		-webkit-box-align: center
		-webkit-box-pack: justify
		width: 100%
		max-width: 1300px
		padding: 0 20px
		margin: 0 auto
		.menu
			list-style: none
			display: flex
			margin: 0 2em
			.menu-item
				color: #4a4a4a
				font: 300 18px/100% $font
				+font-s()
				margin-right: 30px
		.logo
			margin-right: 10px
		.button-send
			width: 180px
			height: 40px
			border-radius: 40px
			background-color: #fff
			color: $primary
			font: 300 18px/100% $font
			+flex-center(center)
			text-transform: uppercase
			&:hover
				background: $primary
				color: #fff
				-webkit-transition: all .5s
				-moz-transition: all .5s
				-ms-transition: all .5s
				-o-transition: all .5s
				transition: all .5s

	.burger, .burger-menu
		display: none


	.eng
		color: #2e2e2e
		font: 300 20px/100% $font
		margin-left: 20px
		&:hover
			color: $primary

	+between-width(1200px, 1300px)
		&__inner
			.menu-item
				font: 300 16px/100% $font!important
	+max-width($sm-desktop)
		&__inner
			display: flex
			justify-content: space-between
			width: 100%
			padding: 0 30px
			.logo img
				width: 7vw
			.logo-gens img
				width: 12vw
			.menu
				.menu-item
					font: 300 16px/100% $font
					margin-right: 15px

	+max-width($tablet)
		&__inner
			justify-content: initial
		.menu
			display: none
		.logo
			margin: 0
			img
				width: 10vw
		.logo-gens
			img
				width: 20vw
		.button-send
			display: none
		.burger
			display: block
			background: url(/local/static/assets/img/group.svg) no-repeat center
			-webkit-background-size: cover
			background-size: cover
			width: 40px
			height: 40px
			position: absolute
			right: 25px
			-webkit-transition: all .5s
			-moz-transition: all .5s
			-ms-transition: all .5s
			-o-transition: all .5s
			transition: all .5s
		.eng
			margin-left: 50vw
		.burger-menu

			&__links
				display: flex
				flex-flow: column wrap
				background: #0b4782
				text-align: center
				position: absolute
				list-style: none
				width: 100vw
				padding: 0!important
				margin: 30px 0 0 0!important
				left: 0
				height: 100vh

			.lead
				padding: 20px
				color: $primary
				font: 400 24px/100% $font
				text-transform: uppercase
				background: #fff
				margin-bottom: 0

			.burger-social
				background: $primary
				margin-top: 20px
				padding: 10px
			a
				li
					transition: .5s
					transition-delay: .5s
					font: 300 20px/100% $font
					color: white
					padding: 15px
					border-bottom: 1px solid $primary

			.burger-active
				height: 100vh
				transition-delay: 0s
				z-index: 1500
				overflow: visible
				display: flex !important
				width: 100vw
				label
					span
						background: #fff
				ul
					transition: padding .5s linear
					a
						li
							opacity: 1
							transition: padding .5s linear

	+max-width($sm-mobile)
		height: 60px
		position: relative
		background-color: #fff
		opacity: 1
		&__inner
			align-items: center
			padding: 0 10px
			.logo
				img
					width: 18vw
					margin-right: 15px
			.logo-gens
				img
					width: 35vw
		.button-send
			display: none
		.eng
			display: none
		.burger
			display: block
			position: absolute
			right: 10px










