@import "../../../../../static/assets/sass/include/_config.sass"
@import "../../../../../static/assets/sass/include/_base.sass"
.timeline
	background: #fff
	+flex-center(center)
	padding-bottom: 30px
	.main-title
		@extend %main-title
		justify-content: center

	&__send-button
		@extend %send-button
		a
			color: $primary
	&__wrapper
		margin: 0 auto
		max-width: 1300px
		ul
			border-top: 4px solid #d8d8d8
			list-style-type: none
			+flex-center(center)
			flex-direction: row!important
			padding: 0
			margin: 0
			&:before
				height: 4px
				background: red
				left: -15px

		.description
			+flex-center(center)

		.status-1
			+status(#2498b8)
			padding-left: 0
			.active-point
				&:before
					content: ''
					width: 40px
					height: 40px
					background: rgba(#2498b8,0.1)
					position: absolute
					top: -10px
					left: -10px
					-webkit-border-radius: 40px
					-moz-border-radius: 40px
					border-radius: 40px

				&:after
					content: ''
					width: 60px
					height: 60px
					background: rgba(#2498b8,0.1)
					position: absolute
					top: -20px
					left: -20px
					-webkit-border-radius: 60px
					-moz-border-radius: 60px
					border-radius: 60px

			&:before
				position: absolute
				content: ''
				width: 110px
				height: 7px
				background: white
				top: -5px
				left: -15px
				+max-width($tablet)
					width: 20vw
					top: -5px
					left: -8vw
		.status-2
			+status(#9acc54)

		.status-3
			+status(#f5a61d)

		.status-4
			+status(#f55949)
			padding-right: 0
			&:after
				position: absolute
				content: ''
				width: 50px
				height: 7px
				background: white
				right: -15px
				top: -5px
				z-index: 1
				+max-width($tablet)
					right: -8vw
					width: 20vw

	+max-width($sm-desktop)
		.status-1, .status-3
			padding: 0
		.status-2
			padding: 0 3em
		.status-1:before
			width: 170px
			left: -80px
		.status-4:after
			width: 140px
			right: -100px

	+max-width($tablet)
		&__wrapper
			width: 95vw
			display: flex
			align-items: center
			justify-content: center
		.status-3
			padding: 0 2em
		.status-1:before
			width: 170px
			left: -80px
		.status-4:after
			width: 170px
			right: -100px

	+between-width($sm-mobile, $mobile)
		h4
			font: bold 18px/170% $font

		.status-2, .status-3
			padding: 0 1em
		.status-4:after
			width: 140px
		.point
			top: -13px!important
			left: auto!important


	+max-width($sm-mobile)
		padding: 20px 0
		.main-title
			width: 60vw
			text-align: center
		&__wrapper
			ul
				border-top: none
				border-left: 4px solid #d8d8d8
				display: flex
				flex-direction: column !important
				margin-left: 15vw !important
			li
				width: 100%
				margin-bottom: 40px
			.status
				width: 100% !important
				display: flex
				flex-direction: row
				height: 10vh
				align-items: center
				justify-content: flex-start
				padding: 0
				h4
					margin: 0
				.description
					margin-left: 10vw
					align-items: flex-start
			.status-4
				&:after
					width: 7px
					height: 12.5vh
					background: #fff
					left: -5px
					z-index: 1
					top: 6vh
			.status-1
				&:before
					width: 7px
					height: 5vh
					background: #fff
					left: -5px
